:root{
  --light-grey: #f5fbfc;
  --light-green: #ebfae6;
  --mid-green: #7bd361;
  --bright-green: #58da6e;
  --aqua-grey: #a4afb3;
  --coral-red: #f55f6b;
  --dark-grey: #242423;
}

/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--light-blue) !important;
}

/*=============Login Page ==============*/

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: var(--mid-green);
}

.right {
  right: 0;
  background-color: var(--light-green);
}

.bot-left{
  position: absolute;
  top: calc(100% - 3.5rem - 30px);
  left: 0%;
  margin-left: 30px;
  font-size: 3.5rem;
}

.mr-4, .mx-4 {
  margin-right: 2rem !important;
}

.form-container{
  width: 40rem;
  position: absolute;
  top: 47%;
  left: 52%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.btn:hover,
.btn:active{
  border-bottom: 2px solid var(--mid-green);
  border-radius: 0;
  /* font-size: 2rem; */
  color: var(--mid-green);
  outline: none;
  box-shadow: none;
}


.file-select{
  width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.box-container{
  margin: auto;
  margin-top: 35%;
  position: relative;
  width: 350px;
  height: 46px;
  border: 4px solid #58da6e;
  padding: 0px 10px;
  border-radius: 50px;
  
}

.elements-container{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  
}

.search{
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  background-color: var(--light-green);
}

.search:focus{
  outline:none;
}





/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}